################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/1_Recursion/1_1_Recursive-Array-Sum/bin/Debug/netcoreapp1.1/1_1_Recursive-Array-Sum.deps.json
